<html>
<head>
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet">
</head>
<style>

body  {
    background-color: #ffffff;
    color: black;
    font-size:14px;
    font-family: 'Cousine', monospace;
    line-height: 1.6;

}




h1 {
  font-size: 100%;
  color: #000000;

}

</style>
<body>


<center>
<br />
<div style="width:900px">
<div  style="width:600px; float:left; ">

<center><img src="http://159.89.84.58:3725/sketch_600_896.jpg" width="600px" height="896px">
</center>
<h1>
<script>
You submitted
</script>

	</form>

</div>
<div style="width:290px; float:right; padding-top:100px;">
<p>Ah yes! I've been expecting you. <br /> Care to join me for a drink,  <%= name %>? What a great, <%= adjective %> name. </p><p> I know we'll get along well.
 I bet you are a hard worker!  </p>
<!-- Tell me about all the  <%= adjective2 %> things youve been doing. -->
<p>  The house ran out of <%= drink %>, but this wine is <%= adjective2 %>.</p>

 <p>Everyone agrees that the weather has never been so beautiful. </p>

 <p> Do you remeber before the war, how things were? i could talk for hours about it.  </p>
</div>
</div>
</center>
</body>


</body>
</html>
